@page "/iletisim"
@{
    Layout = "_ConcatLayout";
}
<!--Bu sayfanın razor page olduğunu gösterir-->
<div class="text-center border my-5 rounded">
    <div class="display-4" style="color: rgba(145, 44, 69, 1); font-weight: bold;">Ado Yazılım ve Otomasyon Sistemleri
        A.Ş.</div>
    <div class="lead my-3">
        <i class="fa-solid fa-phone "style="color:rgba(145, 44, 69, 1)"></i>
        <p>
            <strong>
                (0352) 224 00 20
            </strong>

        </p>
        <i class="fa-solid fa-location-dot " style="color:rgba(145, 44, 69, 1)"></i>
        <p>
            <strong>
                Adres: Yeni Mah. Aşık Veysel Bulv. Erciyes Üniversitesi TGB 5. Bina Kat:1 No:53
                Melikgazi / Kayseri / TURKEY
            </strong>
        </p>
        <i class="fa-solid fa-envelope "style="color:rgba(145, 44, 69, 1)"></i>
        <p>
            <strong>
                info@adosoft.com.tr

            </strong>
        </p>

        <i class="fa-solid fa-map-pin"style="color:rgba(145, 44, 69, 1)"></i>
        <p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2201.301093521269!2d35.53135931986734!3d38.71528661278067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x152b128d9290f7a1%3A0x30c80244fea551a!2sAdo%20Yaz%C4%B1l%C4%B1m%20ve%20Otomasyon%20Sistemleri%20A.%C5%9E!5e0!3m2!1str!2str!4v1716051436639!5m2!1str!2str"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p>


    </div>
</div>
