@model ResetDto

<div class="text-center mb-4">
    <h1 class="display-6" style="color:#992441">Şifre Güncelle için @Model.UserName</h1>
</div>

<div class="form-container">
    <form method="post" asp-action="ResetPassword">
         <div class="text-danger" asp-validation-summary="All"></div>
         <input type="hidden" asp-for="UserName" class="form-control" />
          
        <div class="form-group my-3">
            <label asp-for="Password">Şifre</label>
            <input asp-for="Password" class="form-control" />
        </div>
        <div class="form-group my-3">
            <label asp-for="ConfirmPassword">Şifre Doğrulama</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            
        </div>
        <div class="form-group my-3 d-flex justify-content-end">
            <button type="submit" class="btn btn-danger font-weight-bold px-9 py-4 my-3 mx-2" >Güncelle</button>
            <a asp-action="Index" class="btn btn-outline-danger font-weight-bold px-9 py-4 my-3 mx-2">İptal</a>
        </div>
    </form>
</div>

<style>
    .form-container {
        display: flex;
        justify-content: center; /* Yatay merkezleme */
        align-items: center; /* Dikey merkezleme */
        height: 50vh; /* Tüm dikey alanı kaplaması için */
    }
    form {
        width: 100%;
        max-width: 800px; /* Maksimum genişliği belirler */
        padding: 20px; /* İçerik etrafında boşluk */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Hafif gölge */
    }
</style>
